[flake8]
# Taken from https://pypi.org/project/flake8-black/
# TODO: actually use flake8-black? (have to read up)
#
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
docstring-convention = google
max-doc-length = 88