# Ignore virtual environment
env/

# Ignore pycache
__pycache__/
.pytest_cache/
.mypy_cache/

# Ignore local/editable install
*.egg-info/

# Ignore wheels and source archive
/dist/

# Ignore tox cache
/.tox/

# Ignore Sublime project/workspace
*.sublime-project
*.sublime-workspace

# Ignore temporary output files
out/
test/tmp/